include Makefile
include setup_build.py
include setup_docs.py
include version.py
include MANIFEST.in
include README.rst
include LICENSE.txt
recursive-include gltools *.py *.pyx *.pxi *.pxd *.rst
recursive-include gltools *.cpp *.c *.h
prune gltools/@arch